
li.ant-menu-overflow-item.ant-menu-item {
    margin-left: auto;
    margin-right: auto;
}
.ant-menu-title-content {
    margin-right: 15px ;
}
:where(.css-dev-only-do-not-override-1ae8k9u).ant-menu-horizontal {
    border-bottom: 0;
}